.tile-content {
  padding: 0;
}

.apparatus-table th {
  text-align: right;
}

.apparatus-table td {
  text-align: left;
  padding-left: 1em;
}

.apparatus-container {
  padding: 1em;
  cursor: pointer;
}

div.odd {
  background-color: lightgray;
}
